<div class="container mt-5">
  <h3>Template Driven (ngModel)</h3>

  <div class="row mb-5">
    <div class="col-6">
      <input
        class="form-control"
        maxLength="60s"
        bigCurrencyMask
        [(ngModel)]="ngModelExample"
        [options]="{
          prefix: '',
          thousands: '.',
          decimal: ',',
          precision: 4,
          allowNegative: true
        }"
      />
    </div>
    <div class="col-6 col-form-label">
      <span>Valor: {{ ngModelExample }}</span>
    </div>
  </div>

  <h3>Reactive Forms (formControl)</h3>
  <div class="row mb-5">
    <div class="col-6">
      <input
        bigCurrencyMask
        required
        class="form-control"
        [ngClass]="{ 'is-invalid': formControlExample.invalid }"
        [formControl]="formControlExample"
        max="30"
        min="2.000"
        [options]="{
          prefix: 'R$ ',
          suffix: ' T',
          thousands: '.',
          decimal: ',',
          precision: 6,
          align: 'left',
          allowNegative: true
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="formControlExample.errors && formControlExample.errors['min']"
      >
        Por favor, informe maior ou igual a 2.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="formControlExample.errors && formControlExample.errors['max']"
      >
        Por favor, informe menor ou igual a 30.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          formControlExample.errors && formControlExample.errors['required']
        "
      >
        Campo obrigatório.
      </div>
    </div>
    <div class="col-6 col-form-label">
      <span> Valor: {{ formControlExample.value }}</span>
    </div>
  </div>

  <h3>Reactive Forms (formArray)</h3>

  <form [formGroup]="formGroupExample">
    <div formArrayName="formArrayExample">
      <div
        *ngFor="let control of formArrayExample2.controls; let i = index"
        class="row mb-3"
      >
        <div class="col-6">
          <input class="form-control" bigCurrencyMask [formControlName]="i" />
        </div>
        <div class="col-6 col-form-label">
          <span> Valor: {{ control.value }}</span>
        </div>
      </div>
    </div>
  </form>
</div>
